body{
 width: 670px;
 font-family: Calibri;
 margin-left: 30px;
}

.text-1{
  font-size: 19px;
  font-weight: bold;
}

span{
  color: red;
}

input{
  border-radius: 4px;
  width: 200px;
  height: 24px;
  border: 1px solid rgb(202, 195, 195);
}

.derecha{
  float: right;
  margin-top: -247px;
 
}

.pequeño-1{
  border-radius: 4px;
  width: 100px;
  height: 24px;
  border: 1px solid rgb(202, 195, 195);
}

.derecha-1{
  
  float: right;
  border-radius: 4px;
  width: 160px;
  height: 10px;
  border: 1px solid rgb(202, 195, 195);
  margin-top: -76px;
}

.tamanio{
 width: 270px;
}

.pequeño-2{
  border-radius: 4px;
  width: 154px;
  height: 24px;
  border: 1px solid rgb(202, 195, 195);
}

.tamanio-2{
  width: 140px;
}

.pequeño-3{
  width: 110px;
  margin-top: 77px;
  margin-left: 12px;
}

.derecha-3{
  float: right;
  border-radius: 4px;
  width: 120px;
  height: 10px;
  border: 1px solid rgb(202, 195, 195);
  margin-top: -48px;
}

button{
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.color-texto{
  color: grey;
}